{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if artist %}

{# Display card for the artist details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ artist.name }} (Born: {{ artist.birth_date }} in {{ artist.birth_place }})
      </div>
      <div class="card-body">
        <p> {{ artist.desc }} </p>
      </div>
    </div>
  </div>
</div>

{# Jazz Posts #}
<div class="row">
  <div class="col-md-12">
    <h1> Community Discussion <small class="float-right">{{ posts|length }} posts</small></h1>
    <ul class="media-list">
      {% for post in posts %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ post.date }}</small>
          </span>
          <a href="{{ url_for('users.user_detail', username=review.commenter.username) }}">
            <strong>@{{ post.commenter.username }}</strong>
          </a>
          <p>
            {{ post.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Post submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}